<% if user_signed_in? %>
<div class="container">
	<div class="row">
	   <div class="large-3 small-6 columns">
	      <div class="slab">
	         <img src="img/ico_mail.png" alt="Chat" class="slab-image">
	         <h3 class="slab-title">Surface UI</h3>
	         <p>Minimal Flat UI Skin</p>
	         <a class="button primary expand" href="#">Go Pro</a>
	      </div>
	   </div>
	   <div class="large-3 small-6 columns">
	      <div class="slab">
	         <img src="img/ico_gift.png" alt="Chat" class="slab-image">
	         <h3 class="slab-title">Surface UI</h3>
	         <p>Minimal Flat UI Skin</p>
	         <a class="button primary expand" href="#">Go Pro</a>
	      </div>
	   </div>
	   <div class="large-3 small-6 columns">
	      <div class="slab slab-hot">
	         <img src="img/ico_read.png" alt="Chat" class="slab-image">
	         <h3 class="slab-title">Surface UI</h3>
	         <p>Minimal Flat UI Skin</p>
	         <a class="button primary expand" href="#">Go Pro</a>
	      </div>
	   </div>
	   <div class="large-3 small-6 columns">
	      <div class="slab">
	         <img src="img/ico_coffee.png" alt="Chat" class="slab-image">
	         <h3 class="slab-title">Surface UI</h3>
	         <p>Minimal Flat UI Skin</p>
	         <a class="button primary expand" href="#">Go Pro</a>
	      </div>
	   </div>

	    <div class="large-3 small-6 columns">
	      <div class="slab">
	         <img src="img/ico_mail.png" alt="Chat" class="slab-image">
	         <h3 class="slab-title">Surface UI</h3>
	         <p>Minimal Flat UI Skin</p>
	         <a class="button primary expand" href="#">Go Pro</a>
	      </div>
	   </div>
	   <div class="large-3 small-6 columns">
	      <div class="slab">
	         <img src="img/ico_gift.png" alt="Chat" class="slab-image">
	         <h3 class="slab-title">Surface UI</h3>
	         <p>Minimal Flat UI Skin</p>
	         <a class="button primary expand" href="#">Go Pro</a>
	      </div>
	   </div>
	   <div class="large-3 small-6 columns">
	      <div class="slab slab-hot">
	         <img src="img/ico_read.png" alt="Chat" class="slab-image">
	         <h3 class="slab-title">Surface UI</h3>
	         <p>Minimal Flat UI Skin</p>
	         <a class="button primary expand" href="#">Go Pro</a>
	      </div>
	   </div>
	   <div class="large-3 small-6 columns">
	      <div class="slab">
	         <img src="img/ico_coffee.png" alt="Chat" class="slab-image">
	         <h3 class="slab-title">Surface UI</h3>
	         <p>Minimal Flat UI Skin</p>
	         <a class="button primary expand" href="#">Go Pro</a>
	      </div>
	   </div>

	</div>
</div>
<% else %>
<div class="content">
	<div class="title-content">
		<div class="row">
			<h2>Learning Code</h2>
		</div>
	</div>
</div>
<div class="large-12 columns" style="margin-top:40px;">
	<div class="row">
		<div class="large-6 columns">
			<h5>Why am learning <big>Code</big></h5>
			<p>Everything you learn with me. I hope u can did it after watch my tutorails.And please try more and more at home.</p>
			<ul class="left">
				<div class="large-6 columns"><li><i class="fa fa-chevron-right"></i> Foundation 5</li></div>
				<div class="large-6 columns"><li><i class="fa fa-chevron-right"></i> Bootstrap 3</li></div>
				<div class="large-6 columns"><li><i class="fa fa-chevron-right"></i> Ruby </li></div>
				<div class="large-6 columns"><li><i class="fa fa-chevron-right"></i> Ruby On Rails</li></div>
				<div class="large-6 columns"><li><i class="fa fa-chevron-right"></i> More...</li></div>
			</ul>
		</div>
		<div class="large-6 columns">
			<div class="image-logo">
				<%= image_tag "navlogo.jpg" %>
			</div>
		</div>
	</div>
</div>



<div class="large-12 columns nav-bg pad-tb" style="margin-top:40px;">
	<div class="row">
		<div class="large-12 columns">
			<div class="large-4 columns text-centered">
				<div class="logo">
					<i class="fa fa-eraser"></i>
				</div>
				<big>Clean Code</big>
			</div>
			<div class="large-4 columns text-centered">
				<div class="logo">
					<i class="fa fa-code"></i>
				</div>	
				<big>HTML & CSS3</big>
			</div>
			<div class="large-4 columns text-centered">
				<div class="logo">
					<i class="fa fa-magic"></i>
				</div>
				<big>Responsive Design</big>
			</div>
		</div>
	</div>
</div>
<div class="row" >
	<div class="large-7 columns" style=" margin-top:40px;">
		<h2 class="text-centered">//Shared with us.</h2>
		<div class="video-clip">
	       <iframe src="//fast.wistia.net/embed/iframe/b9jvlhljz7" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="553" height="311"></iframe>
		</div>
	</div>
	<div class="large-5 columns text-centered" style=" margin-top:40px;">
		<%= image_tag "profile.jpg",size: "120" ,class: "text-centered"%>
		<h4>Support Central</h4>
		<div class="text-content">
			<h5>Welcome!</h5>
			<p>If you need help, or want to learn more about Code, you've come to the right place. Check out the resources below, and contact us if you need additional assistance! </p>
		</div>
	</div>
</div>
<% end %>